---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { PostList } from "../components/PostShared";
import "@fontsource/inter/400.css";
import "@fontsource/barlow/500.css";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf() 
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="flex justify-center">
        <div class="flex flex-col items-start max-w-xl gap-8">
          {posts.map((post) => <PostList client:load post={post} />)}
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
