---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { RiGithubLine, RiTwitterLine } from "react-icons/ri/index.js";
---

<header class="w-full flex justify-center">
  <div class="flex p-8 items-center justify-between w-full">
    <a href="/">
      <img
        src="/icon-96x96.png"
        class="w-12 hover:scale-110 duration-150"
        alt="Avatar"
      />
    </a>

    <div class="flex gap-4 ">
      <a
        class="opacity-60 hover:opacity-80 duration-100 text-white"
        href="https://twitter.com/awucado"
        target="_blank"
      >
        <RiTwitterLine size={25} />
      </a>
      <a
        class="opacity-60 hover:opacity-80 duration-100 text-white"
        href="https://github.com/awucado"
        target="_blank"
      >
        <RiGithubLine size={25} />
      </a>
    </div>
  </div>
</header>
